@use "../breakpoints";

.card {
  margin: 0.8em 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--table-border);
  border-radius: 5px;
  background-color: var(--passingzone-color);
  align-items: stretch;

  &.start {
    align-items: start;
  }
  &.center {
    align-items: center;
  }
  &:last-child {
    margin-bottom: 5em;
  }

  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }

  @include breakpoints.sm {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  .embed & {
    margin: 0;
    border: none;
    align-items: center;
  }
}

.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .embed & {
    display: none;
  }
}