.card {
  margin: 0.8em 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--table-border);
  border-radius: 5px;
  background-color: var(--passingzone-color);

  & :first-child {
    margin-top: 0;
  }
  & :last-child {
    margin-bottom: 0;
  }
}
