@import "../breakpoints.scss";

.throws-container {
  margin: 1em 0;
  font-size: 130%;
  align-self: start;
  @include sm {
    font-size: 100%;
    align-self: stretch;
  }
}

.throws-container table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    width: 3.5em;
    text-align: center;
    transition:
      opacity 200ms linear,
      color 200ms linear;
  }

  th:first-child,
  td:first-child {
    font-family: "Righteous";
    border-right: 3px solid var(--table-border);
  }

  th:last-child,
  td:last-child {
    font-family: "Righteous";
    border-left: 3px solid var(--table-border);
  }

  .line {
    &__m:first-child {
      border-top: 3px solid var(--table-border);
    }
    &__hands {
      th {
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
      }
    }

    &__underline {
      border-bottom: 3px solid var(--table-border);
    }
  }

  .throw {
    margin: 0.75em auto;
    /* limit size for SVG arrow alignment */
    max-height: 1.5em;
    max-width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .disabled {
    color: red;
    box-shadow: 0 0 0 1px red;
  }
}

.orbit-button {
  position: relative;
  background: white;
  padding: 0.2em 1em;
  margin: 0 0.1em;

  &.beerable::after {
    content: "🍺";
    font-size: 70%;
    vertical-align: top;
    position: absolute;
    top: -1px;
    right: -1px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
}

/* Fancy hover */
.throws-container:has(.throw-cell:hover),
.throws-container:has(.orbit-button:hover) {
  .throw-cell,
  .svg-container,
  .orbit-button {
    opacity: 0.15;

    &.hovered {
      opacity: 1;
    }
  }
}

/* Arrows */
.svg-arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible; /* height does not go past scrolling */
  pointer-events: none;
  transition: opacity 200ms linear;
}
