@use "breakpoints";

* {
  box-sizing: border-box;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --table-border: rgba(255, 255, 255, 0.4);
  --passingzone-color: #321d5b;
  --passingzone-color-light: #4b3673;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  background-color: var(--passingzone-color-light);
  color: rgba(255, 255, 255, 0.87);

  &.embed {
    background-color: var(--passingzone-color);
  }
}

#root {
  padding: 0 2em;
  flex-grow: 1;

  @include breakpoints.sm {
    padding: 0;
  }
}

.secondary {
  color: #888;
}
.error {
  color: #f64;
  white-space: pre-wrap;
}

a {
  font-weight: 500;
  color: #213547;
  text-decoration: inherit;

  &:hover {
    color: #747bff;
  }
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;

  @include breakpoints.sm {
    text-align: center;
  }
}

button,
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
